footer
    p [#[a(href=`${config.website_url}`) Back to main website]]
    //- You can remove the following line if you want, I don't mind :-)
    p This guestbook is powered by #[a(href='https://github.com/clagabos/guestbook') github.com/clagabos/guestbook]